@import url(maintains.css);

body {
	margin: 0;
}

.ant-layout-footer {
	padding: 0;
}

.custom-content {
	background-color: #1c1c1c;
}

textarea {
	border: none;
	overflow: auto;
	outline: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	resize: none;
	background-color: inherit;
	color: white;
}

[contenteditable="true"] {
	outline: 1px solid rgba(204, 204, 204, 0.2);
}
